/* NAV */
nav {
    width: 20%;
    float: left;
    background-color: rgb(23, 23, 23);
    color: white;
}

.container-nav {
    position: fixed;
    width: 20%;
    float: left;
    height: 100%;
}

#logo {
    width: 50%;
    padding: 0% 25%;
}

/* #nav {
    margin: 5%;
    padding-left: 0;
    max-width: 100%;
    text-align: center;
} */

#nav li {
    list-style-type: none;
    text-align: start;
    padding: 4%;
    margin: 2%;
}

#nav li:hover {
    border-left: solid 4px #FF7344;
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    color: #FF7344;
}

#li-a-select {
    border-left: solid 4px #FF7344;
}

/*----------------------------------------------*/

/* MEDIAS QUERIES */
@media screen and (max-width: 768px) {

    /* MENU HAMBURGUESA */
    .btn-menu,
    .btn-close {
        display: block;
        background: rgb(23, 23, 23);
        color: white;
    }

    nav {
        opacity: 0;
        visibility: hidden;
        display: none;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        width: 30%;
    }

    nav.visible {
        opacity: 1;
        visibility: visible;
    }

    nav ul {
        flex-direction: column;
        align-items: end;
        padding-left: 0;
    }

    /* RESTO PAGINA */

    .container {
        flex-direction: column;
    }

    .container-nav {
        position: static;
        width: 100%;
    }

    header {
        width: 100%;
        position: revert;
    }

    .hola {
        width: 100%;
        float: none;
    }

    .card {
        width: 90%;
    }

    .chart {
        height: 150px;
    }
    main{
        margin-top: 0;
    }
}

@media screen and (max-width: 480px) {
    nav {
        width: 60%;
    }

    .chart {
        height: 120px;
    }

    #container-footer {
        flex-direction: column;
        justify-content: center;
    }

    #container-politica-empresa {
        float: none;
        width: 90%;
        margin: 3%;
    }

    #redes {
        float: none;
        width: 90%;
        margin: 3%;
    }

    .tab-movimientos td,
    .tab-movimientos th {
        font-size: x-small;
    }
}