{% extends 'myapp/base.html' %}

{% block content %}

<section id="banner">
    <h1>Bienvenidos al Home Banking de ITBANK
        <br>Gestiona tus finanzas con facilidad
    </h1>
    <p>Accede a tu dinero las 24 horas del día, los 7 días de la semana, desde cualquier lugar.</p>
</section>

<section id="features">
    <div class="feature">
        <i class="fa-solid fa-shield-halved"></i>
        <h2>Transferencias Seguras</h2>
        <p>Realiza transferencias con total confianza y seguridad.</p>
    </div>
    <div class="feature">
        <i class="fa-solid fa-credit-card"></i>
        <h2>Pagos en Línea</h2>
        <p>Paga tus facturas y realiza compras en línea de forma conveniente.</p>
    </div>
    <div class="feature">
        <i class="fa-solid fa-id-card"></i>
        <h2>Administración de Cuentas</h2>
        <p> Administra tus cuentas y finanzas personales fácilmente.</p>
    </div>
</section>


{% endblock %}