
<!-- agregamos el bloque extends que tomara el html base-->
{% extends 'Inicio/base.html' %}

<!-- Agregamos el titulo de la home -->
{% block title %} Tarjetas {% endblock %}

<!-- indicamos que lo de abajao se dibuje despues del menu armado en la base-->
{% block content %}
<section>
    <h3 class="texto"> Listado de Tarjetas </h3>
    <div class=" container">
        {% for tarjeta in tarjetas %}
            <div class="divisor">
                <p> {{ tarjeta.numero}}</p>
                <p> {{ tarjeta.tipo}} </p>
                <p> {{ tarjeta.marca }} </p>
                <p> {{ tarjeta.fecha_expiracion }} </p>
                <p> {{ tarjeta.cliente }} </p>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
