{% extends 'Clientes/base.html' %}
{% block content %}

<h1> Detalle de cliente </h1>
<div>
    <div>
        <p><strong>Nombre y apellido:</strong> {{ cliente }} </p>
        <p><strong>DNI:</strong> {{ cliente.dni }} </p>
        <p><strong>Fecha de nacimiento:</strong> {{ cliente.dob }} </p>
        <p><strong>Tipo de cliente:</strong> {{cliente.tipo}} </p>
        <p><strong>Sucursal:</strong> {{ cliente.branch }}</p>
    </div>
</div>
<button href="{% url 'logout' %}">Salir</button>

{% endblock %}