<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Cliente</title>
</head>
<body>
    <h1>Detalles del Cliente</h1>
    <p><strong>ID del Cliente:</strong> {{ cliente.customer_id }}</p>
    <p><strong>Nombre:</strong> {{ cliente.customer_name }}</p>
    <p><strong>Apellido:</strong> {{ cliente.customer_surname }}</p>
    <p><strong>DNI:</strong> {{ cliente.customer_DNI }}</p>
    <p><strong>Fecha de Nacimiento:</strong> {{ cliente.dob }}</p>
    <p><strong>ID de Sucursal:</strong> {{ cliente.branch_id }}</p>
</body>
</html>
