/* ESTILOS PARA LA LANDING PAGE */
#banner {
    text-align: center;
}

#banner h1 {
    margin-top: 220px;
    font-size: 180%;
    margin-bottom: 3%;
    color: white;
}

#banner p {
    font-size: 100%;
    margin: 2%;
    font-weight: bold;
    color: rgb(251, 251, 251);
}

.cta-button {
    display: inline-block;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
}

.cta-button:hover {
    background-color: white;
    color: #ff7344;
}

#features {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    background-color: #fff;
}

.feature {
    text-align: center;
    max-width: 300px;
    margin: 0 20px;
}

.service img {
    width: 50%;
    height: 50%;
}

@media (min-width: 250px) and (max-width: 500px) {
    #banner h1 {
        font-size: 150%;
        margin-bottom: 1%;
    }
}