{% extends 'Clientes/base.html' %}

{% block content %}

<section>
    <h1>Préstamo preaprobado</h1>
    <div>
        <div>
            <form action="" method="POST">
                {% csrf_token %}
                {% if messages %}
                <div>
                    {% for message in messages %}
                    {% if message.level_tag == "error" %}
                    <div><strong>{{ message }}</strong></div>
                    {% else %}
                    <div><strong>{{ message }}</strong></div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                {{ form.as_p }}
                {% if cliente.tipo_id == 1 %}
                <p>Monto máximo de pre-aprobación para clientes Classic: $100000</p>
                {% elif cliente.tipo_id == 2 %}
                <p>Monto máximo de pre-aprobación para clientes Gold: $300000</p>
                {% else %}
                <p>Monto máximo de pre-aprobación para clientes Black: $500000</p>
                {% endif %}
                <input type="submit" value="Solicitar Prestamo">
            </form>
        </div>
    </div>
</section>

{% endblock %}