
<!-- agregamos el bloque extends que tomara el html base-->
{% extends 'Inicio/base.html' %}

<!-- Agregamos el titulo de la home -->
{% block title %} Tarjetas {% endblock %}

<!-- indicamos que lo de abajao se dibuje despues del menu armado en la base-->
{% block content %}


<section>
    <h3 class="texto"> Listado de cuentas </h1>
    <div class="container">
        {% for cuenta in cuentas %}
            <div class="divisor">
                <p> {{ cuenta }} </p>
                <p> {{ cuenta.iban }} </p>
                <p> {{ cuenta.cliente }} </p>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}