<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} | ITBANK </title>
  </head>

  <body>
    <header>
        <div>
            <a href="{% url 'home' %}">
              <img src="" alt="Logo del banco">
            </a>
        </div>
        <div>
            <button>Menu</button>
            <ul>
              {% if not request.user.is_authenticated %}
                <li><a href="{% url 'login' %}">Home Banking</a></li>
                <li><a href="{% url 'register' %}">Registrate</a></li>
              {% else %}
              <li><a href="{% url 'cuentas_cliente' cliente.id %}">Bienvenido {{ request.user }}</a></li>
              <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
              {% endif %}
            </ul>
        </div>
    </header>

    <section>{% block content %}{% endblock %}</section>
      
    <footer>
        <p>Términos de uso</p>
        <p>Políticas de privacidad</p>
        <p>Contacto</p>
        <p><a href="{% url 'sucursales' %}">Sucursales</a></p>
    </footer>

  </body>
</html>
