<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homeBanking</title>
</head>
<body>
    <nav style="border: solid red;">
        <div> 
            <a href="{% url 'inicio' %}">
               <img src="" alt="logo">
            </a>
            <ul>
                <li><a href="">Estado de cuenta</a></li>
                <li><a href="">Transferencias</a> </li>
                <li><a href="">Tarjetas</a> </li>
                <li><a href="">Pagos</a> </li>
                <li><a href="">Préstamos</a></li>
                <li><a href="">Simulador</a></li>
                <li><a href="">Convertidor de moneda</a></li>
                <li><a href="">Mis Movimientos</a></li>
            </ul>
        </div>
    </nav>
    <header>
        <a href="detalle_cliente"><img src="" alt="Mi cuenta"></a>
    </header>
    <section>
        {% block content %}{% endblock %}
    </section>
    <footer style="border: solid green;">
        <div>
            <div>
                <a href="">Políticas de privacidad.</a>
                <br><a href="">Términos y Condiciones</a>
                <br><a href="">Contacto</a>
            </div>
            <div>
                <p>Encontranos en:</p>
                <a href="https://www.instagram.com/" width="20" target="_blank"><i>ig</i></a>
                <a href="https://www.twitter.com/" width="20" target="_blank"><i>x</i></a>
                <a href="https://www.facebook.com/" width="20" target="_blank"><i>fb</i></a>
            </div>
        </div>
        <p id="copy">&copy; 2023 ITBANK. Todos los derechos reservados.</p>
    </footer>
</body>
</html>