<!DOCTYPE html>
<html>
<head>
    <title>Listar Cuentas de un Cliente</title>
</head>
<body>
    <h1>Cuentas del Cliente {{ cliente_id }}</h1>
    <ul>
        <h1>Cuentas del Cliente {{ cliente.customer_name }} {{ cliente.customer_surname }}</h1>
    <ul>
        {% for cuenta in cuentas_cliente %}
            <li>{{ cuenta.iban }} - Saldo: {{ cuenta.balance }}</li>
            <!-- Puedes agregar más información de la cuenta según sea necesario -->
        {% endfor %}
    </ul>
</body>
</html>
