body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: whitesmoke;
    height: 100%;
}

h2 {
    font-family: 'Lato', sans-serif;
    color: #ff7344;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    min-height: 100%;
}

.contenedor-area-principal{
    padding-bottom: 120px;
}

/* NAV */
nav {
    width: 20%;
    float: left;
    background-color: rgb(23, 23, 23);
    color: white;
}

.container-nav {
    position: fixed;
    width: 20%;
    float: left;
    height: 100%;
}

#logo {
    width: 50%;
    padding: 0% 25%;
}

#nav {
    margin: 5%;
    padding-left: 0;
    max-width: 100%;
    text-align: center;
}

#nav li {
    list-style-type: none;
    text-align: start;
    padding: 4%;
    margin: 2%;
}

#nav li:hover {
    border-left: solid 4px #FF7344 ;
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover{
    color: #FF7344;
}
#li-a-select{
    border-left: solid 4px #FF7344 ;
}

/* HEADER */
.hola {
    width: 80%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #35103D;
    text-align: end;
    position: fixed;
    width: 80%;
}

header a {
    color: white;
    font-family: 'Lato', sans-serif;
}

header a:hover {
    color: #FF7344;
}

#perfilusuario {
    margin: 2%;
    height: 35px;
}

/* MAIN */
main {
    margin-top: 80px;
    padding: 3%;
}

section {
    padding: 3%;
}

/* FOOTER */
footer {
    background-color: #C2B2B4;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    height: 120px;
    width: 100%;
}

footer a {
    text-decoration: none;
}

#container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#container-politica-empresa {
    float: left;
    width: 50%;
    margin: 1%;
}

#redes {
    float: right;
    width: 50%;
    margin: 1%;
}

#redes i {
    font-size: x-large;
    color: #35103D;
}

#redes i:hover {
    color: #FF7344;
}

#redes p{
    margin: 0;
}

/* MEDIAS QUERIES */
/* @media(max-width:650px){
    
} */