body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: whitesmoke;
    height: 100%;
}

h1, h2 {
    font-family: 'Lato', sans-serif;
    color: #ff7344;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* NAV */
nav {
    width: 20%;
    float: left;
    background-color: black;
    color: white;
}

.container-nav {
    position: fixed;
    width: 20%;
    float: left;
    height: 100%;
}

#logo {
    width: 50%;
    padding: 0% 25%;
}

#nav{
    margin: 5%;
    padding-left: 0;
    max-width: 100%;
    text-align: center;
}

#nav li {
    list-style-type: none;
    border: 1px solid#FF7344;
}

#nav li:hover{
    background-color: rgba(144, 148, 148, 0.46);
}

li a {
    text-decoration: none;
    color:  white;
    
}

/* HEADER */
.hola {
    width: 80%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #35103D;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 80%;
    height: 15%;
}

/* MAIN */
main {
    margin-top: 80px;
    padding: 3%;
}

section {
    padding: 3%;
}

#perfilusuario{
    margin: 20px;
}


/* MOVIMIENTOS */
.tab-movimientos {
    text-align: left;
    background-color: white;
    max-width: 80%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}




/* FOOTER */
footer {
    background-color: #C2B2B4;
    text-align: center;
    position: relative; 
    bottom: 0;
    width: 100%;
}

/* MEDIAS QUERIES */
/* @media(max-width:650px){
    
} */